@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply 
    inline-flex 
    items-center 
    py-2 px-2.5 
    text-sm 
    font-medium 
    text-gray-900 
    bg-white 
    border border-gray-200 
    hover:bg-gray-100 
    hover:text-[#2e82af]
    focus:z-10 focus:ring-2 
    focus:ring-[#2e82af] 
    focus:text-[#2e82af];
  }
  .paragraph {
    @apply 
    text-white 
    font-roboto-flex 
    font-normal 
    text-base ml-3 
    first-letter:text-[#2e82af] 
    first-letter:text-4xl
    first-letter:font-medium;
  }
}